<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Excel Upload</title>
  </head>
  <body>

    <div class="container">
      <h1>Excel Upload Test</h1>
    </div>

    <div class="container pt-3">
      <table class="table table-bordered table-striped">
        <tr class="bg-secondary text-light">
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
        </tr>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.gender }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </body>
</html>
